{include file="public:header"}		
	{include file="public:body"}				

	<ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">主页</a></li>
	    <li class="breadcrumb-item active" aria-current="page">首页</li>
	</ol>

	<div class="row">
		<div class="col-xl-3 col-lg-6 col-sm-6 col-md-12">
			<div class="card">
				<div class="card-body knob-chart">
					<div class="row mb-0">
						<div class="col-6">
							<div class="card-icon d-flex">
								<input type="text" class="knob" value="33" data-thickness="0.2" data-width="80" data-height="80" data-fgColor="#31c92e">
							</div>
						</div>
						<div class="col-6">
							<div class="dash3 text-center">
								<small class="text-muted mt-0">New Users</small>
								<h2 class="text-dark mb-0">612</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-md-12">
			<div class="card">
				<div class="card-body knob-chart">
					<div class="row mb-0">
						<div class="col-6">
							<div class="card-icon d-flex">
								<input type="text" class="knob" value="85" data-thickness="0.2" data-width="80" data-height="80" data-fgColor="#5d61bf">
							</div>
						</div>
						<div class="col-6">
							<div class="dash3 text-center">
								<small class="text-muted mt-0">Sales</small>
								<h2 class="text-dark mb-0">458</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-md-12">
			<div class="card">
				<div class="card-body knob-chart">
					<div class="row mb-0">
						<div class="col-6">
							<div class="card-icon d-flex">
								<input type="text" class="knob" value="74" data-thickness="0.2" data-width="80" data-height="80" data-fgColor="#3ebaef">
							</div>
						</div>
						<div class="col-6">
							<div class="dash3 text-center">
								<small class="text-muted mt-0">Profit</small>
								<h2 class="text-dark mb-0">$132</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-md-12">
			<div class="card">
				<div class="card-body knob-chart">
					<div class="row mb-0">
						<div class="col-6">
							<div class="card-icon d-flex">
								<input type="text" class="knob" value="45" data-thickness="0.2" data-width="80" data-height="80" data-fgColor="#f47b25">
							</div>
						</div>
						<div class="col-6">
							<div class="dash3 text-center">
								<small class="text-muted mt-0">Tax</small>
								<h2 class="text-dark mb-0">$876</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-5 col-xl-4 col-sm-12">
			1111
		</div>
		<div class="col-lg-7 col-xl-8 col-sm-12">
			<div class="card">
				222
			</div>
		</div>

	</div>
{include file="public:footer"}


